includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src

    ignoreErrors:
        #- identifier: missingType.iterableValue

    tmpDir: build/phpstan
    noModelMake: false
    noUnnecessaryCollectionCall: false
    checkModelProperties: true
    inferPrivatePropertyTypeFromConstructor: true